*{
    background-color: rgb(29, 28, 28);
}
table{
border-spacing: 0;
    border-collapse: collapse;
    position: absolute;
    left: 27%;
    top: 9%;
    text-align: center;
}
.cells{
width: 200px;
    height: 180px;
    border: 5px solid rgb(5, 199, 108);
    border-left: none;
    cursor: pointer;
    font-size: 100px;
    color:rgb(57, 163, 114); ;
}
table tr:first-child td{
border-top: none;
}
table tr:last-child td{
border-bottom: none;
}
table tr td:last-child{
border-right: none;
}
.main{
position:absolute;
text-align: center;
width: 750px;
height: 550px;
left: -32%;
top: 9%;
color: rgb(54, 128, 93);
font-size: 40px;
transition: 3s;
border: 7px solid rgb(139, 228, 186); 
box-shadow:18px 18px 100px 100px rgb(63, 134, 101);
opacity: 0;
}
.show{
transition: 1s;
left: 22%;
opacity: 1;
}
.tic{
position: absolute;
font-size: 40px;
transition: 2s;
top: 0;
color: rgb(63, 134, 101);
border-bottom: 5px solid rgb(63, 134, 101);
}
.down{
transition: 2s;
top: 20%;
}
